body {
    margin: 0 auto;
    font-size: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    /* background-color: tomato; */
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#display {
    flex: 4.5;
}

.light-green-button {
    background-color: #82C276;
    color: darkgreen;
}

.light-green-button:hover {
    color: white;
}

button {
    border-bottom: solid white 1px;
    border-right: solid white 1px;
    border-width: 1px;
    background-color: #61B34F;
    flex: 1;
    width: 3em;
    height: 3.2em;
    color: white;
    font-size: 1.6em;
    font-weight: lighter;
}

#keyC, #key7, #key4, #key1, #key0 {
    border-left: solid white 1px;
}

#keyC, #display {
    border-top: solid white 1px;
}

#keyC:hover, #keyDecimal:hover, #keyEqual:hover {
    background-color: #82C276;
}

@media(max-width: 700px) {
    /* .container {
        background-color: skyblue;
    } */
    button {
        font-size: 1.2em;
    }
    #display {
        flex: 4.7;
    }
}