body {
    margin: 0 auto;
    font-size: 20px;
    font-weight: lighter;
    font-style: normal;
}

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    /* background-color: tomato; */
}


/* .calculator {
    width: 22em;
} */

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#display {
    flex: 3.62;
    background-color: #61B34F;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1em;
    width: 100%;
    border-bottom: solid 1px whitesmoke;
    border-right: solid 1px whitesmoke;
}

.button {
    border-bottom: solid 1px whitesmoke;
    border-right: solid whitesmoke 1px;
    border-width: 1px;
    background-color: #61B34F;
    flex: 1;
    width: 3em;
    height: 3.3em;
    color: white;
    font-size: 1.6em;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.light-green-button {
    background-color: #82C276;
    color: darkgreen;
}

.light-green-button:hover {
    color: white;
}

#keyC, #key7, #key4, #key1, #key0 {
    border-left: solid whitesmoke 1px;
}

#keyC, #display {
    border-top: solid whitesmoke 1px;
}

#keyC:hover, #keyDecimal:hover, #keyEqual:hover {
    background-color: #82C276;
}

@media(max-width: 700px) {
    /* .container {
        background-color: skyblue;
    } */
    .button {
        font-size: 1.2em;
    }
    #display {
        flex: 3.5;
    }
}